html {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.heading {
    width: 100%;
    height: 100vh;
    background-color: #3c73f1;
    position: relative;
}

.waves {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}


.section-watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    color: black;
    margin-right: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
}

.flex-icon {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.watch-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-watch {
    width: 60%;
    height: 50%;
    border-radius: 5px;
    margin-top: 10px;
}

.features-watch {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.features-flex {
    display: flex;
    flex-direction: column;
}

.features-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-features {
    margin-bottom: 50px;
}

.circle-icon {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background: #fff;
}

.product-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #5684e4;
    width: 100%;
    padding: 70px;
    text-align: center;
    color: white;
    font-size: 26px;
}

.fav {
    font-size: 44px;
}

.yt {
    color: #fff;
}

.question-product {
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #fbfbfb;
}

.h2-question {
    text-align: center;
}

.faq-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq {
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.faq-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h3-faq {
    text-align: center;
}

.footer {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
}
@media screen and (min-width: 760px) {
    .faq-flex {
        flex-direction: row;
    }
    .faq {
        margin: 10px;
    }
}


@media screen and (min-width: 800px) {
    .features-flex {
        flex-direction: row;
        justify-content: center;
    }

    .p-features {
        width: 50%;
    }
}

@media screen and (min-width: 810px) {
    .img-watch {
        height: 50%;
        width: 60%;
    }
}
@media screen and (min-width: 1280px) {
    .section-watch {
        flex-direction: row;
    }
    .p-section {
        width: 50%;
    }

    .img-watch {
        width: 90%;
        margin-right: 80px;
    }
    .h2-section {
        font-size: 30px;
    }
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translate()
    }
}