html {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.heading {
    width: 100%;
    height: 100vh;
    background-color: #3c73f1;
    position: relative;
}

.waves {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}


.section-watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    color: black;
    margin-right: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
}

.flex-icon {
    display: flex;
    flex-direction: row;
    padding: 5px;
}



@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translate()
    }
}